 # Crear una lista

In [1]:
#listas 
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

print(planetas)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

# Acceder a elementos de lista por índice

In [3]:
# Acceder de una lista poniendo el index/índice entre [], 
# los índices comienzan desde 0, por lo que en el siguiente código planets[0]

print('El primer planeta es ', planetas[0])
print('El segundo planeta es ', planetas[1])
print('El tercer planeta es ', planetas[2])
print('El penultimo planeta es ', planetas[6])

El primer planeta es  Mercurio
El segundo planeta es  Venus
El tercer planeta es  Tierra
El penultimo planeta es  Urano

In [4]:
# Modificar un lemento de la lista
planetas[3] = 'El planeta rojo'
print('Marte tambien es conocido como ', planetas[3])

Marte tambien es conocido como  El planeta rojo

# Determinar la longitud de una lista

In [5]:
#longitud funcion len
numero_de_planetas = len(planetas)
print('Hay ', numero_de_planetas, 'planetas en nuestro sistema solar.')

Hay  8 planetas en nuestro sistema solar.

# Agregar valores a listas

In [5]:

planetas.append('Pluton')
numero_de_planetas = len(planetas)
print('En la actualidad hay ', numero_de_planetas, 'planetas en nuestro sistema solar.')

En la actualidad hay  9 planetas en nuestro sistema solar.

# Eliminar valores de una lista

In [7]:
# Borrar un elemento (en especifico borra el ultimo elemento de la lista) de la lista con funcion pop

planetas.pop()  # Goodbye, Pluto
numero_de_planetas = len(planetas)
print(' aun que definitivamente hay ', numero_de_planetas, 'planetas en nuestro sitema solar.')

 aun que definitivamente hay  8 planetas en nuestro sitema solar.

# Indices negativos

In [6]:
#muestra el utimo elemento
print('El ultimo planeta es', planetas[-1])

El ultimo planeta es Pluton

In [7]:


print('El penultimo planeta es', planetas[-2])
#muestra el penultimo

El penultimo planeta es Neptuno

# Buscar un valor en una lista con metodo index

In [10]:

jupiter_indice = planetas.index('Jupiter')
print('Jupiter es el', jupiter_indice + 1, 'planeta desde el sol')

Jupiter es el 5 planeta desde el sol

# Trabajar con números en listas

In [11]:
#asignacion de flotantes a variables
gravedad_en_la_tierra = 1.0
gravedad_en_la_luna = 0.166

In [13]:
#listas con flotantes
gravedad_de_planetas = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

print('La gravedad en Mercurio es', gravedad_de_planetas[0])

La gravedad en Mercurio es 0.378

In [21]:
# ejemplo de gravedad de camion en mercurio
peso_autobus = 12650 # en kilogramos

print('en la Tierra, un autobus de doble piso pesa ', peso_autobus, 'kg')
print('En Mercurio, un autobus de doble piso pesa',  peso_autobus * gravedad_de_planetas[0], 'kg')

en la Tierra, un autobus de doble piso pesa  12650 kg

NameError: name 'gravedad_de_planetas' is not defined

# Min() y max () con listas

In [20]:

print('El min es: ',min(gravedad_de_planetas))

print('El max es: ',max(gravedad_de_planetas))

NameError: name 'gravedad_de_planetas' is not defined

In [19]:
#ejemplo de min y max
peso_autobus = 12650 

print('en la Tierra, un autobus de doble piso pesa ', peso_autobus, 'kg')
print('El autobus mas ligero en nuestr sistema solas es ', peso_autobus * min(gravedad_de_planetas), 'kg')
print('El autobus mas pesado en nuestr sistema solas es', peso_autobus * max(gravedad_de_planetas), 'kg')

en la Tierra, un autobus de doble piso pesa  12650 kg

NameError: name 'gravedad_de_planetas' is not defined

# Manipulacion de datos con Slice

In [17]:

planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planetas_antes_tierra = planetas[0:2] #el slice dice que solo saque del elemento 0 al 2
print(planetas_antes_tierra)

['Mercurio', 'Venus']

# Segundo ejemplo slice

In [18]:

planetas_despues_tierra = planetas[3:8]
print(planetas_despues_tierra)

['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

# Tercer ejemplo slicen sin parametro de final

In [22]:

planetas_despues_tierra= planetas[3:]# asuem que empieza en 3 y va hasta el final
print(planetas_despues_tierra)

['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

# Union de listas con +

In [23]:

amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

# Ordenar lista con sort()

In [24]:


regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

# Ordenamiento de forma inversa con sort()

In [25]:

regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']